@import "tailwindcss";

/* html {
  scroll-behavior: smooth;
} */

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
  background: #0a0a0a;
  color: #f3f4f6;
}

@layer utilities {
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Hide scrollbar but allow scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* vader  */

/* Custom Scrollbar */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 12px; /* Scrollbar width */
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #4a4a4a; /* Scrollbar color */
  border-radius: 0; /* No rounded corners */
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background-color: #1a1a1a; /* Track color */
}


@keyframes headingAnimation {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-heading {
  animation: headingAnimation 0.8s ease-out forwards;
}

@keyframes textReveal {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-text-reveal {
  animation: textReveal 0.8s ease-out forwards;
  animation-delay: 0.3s;
}